<section id="contact" class="container-fluid">

            <div class="row p-0">
              <div class="col-md-4">
                <h5>Follow us on</h5>
                <section class="py-4">
                    
                    <a href="https://www.instagram.com/sarazzz_creations/" class="text-white" >
                         <i class="fab fa-instagram fa-2x mr-2" style="color: #c32aa3;"></i>sarazzz_creations
                    </a>
                    
                </section>
              </div>
              <div class="col-md-8">
                <p class="pb-2">Get a reminder for new products.</p>
                <form class="form-group">



                <div class="input-group mb-3">
                  <div class="input-group-prepend">
    <div class="input-group-text">
       <i class="fas fa-envelope"></i>
    </div>
  </div>

  <input type="text" class="form-control" id="user-mail" placeholder="email">
  <div class="input-group-append">
    <button class="btn btn-outline-light" type="submit">Subscribe</button>
  </div>
</div>

  
                </form>
                
              </div>
            </div>



<h4 class="my-3 text-center" style="color: rgba(256, 256, 256, 0.4)">Saraz Creations &copy; 2020 </h4>


            <a id="link-to-author" href="https://glacial-coast-93733.herokuapp.com/">
            <h4 class="rounded text-right"><span class="author badge badeg-light shadow">
                Site made by <u>Sharmila S</u>
            </span></h4>
            </a> 
        </section>

        
    </div>


    <script src="index.js"></script>
</body>
</html>