<%- include("partials/header"); %> 

         
        </section>


        <section id="purchase" class="container my-5">
            <form action="/purchase" method="post">
                <div class="form-group">
                    <label for="customer-name">Name</label>
                    <input class="form-control" type="text" name="custName" id="customer-name" required>
                </div>
                <div class="form-group">
                    <label for="customer-email">Email</label>
                    <input class="form-control" type="email" name="custEmail" id="customer-email" required>
                </div>
                <div class="form-group">
                    <label for="customer-order">Product</label>
                    <input class="form-control" type="text" name="custProduct" id="customer-order" value="<%= product.title %>"readonly>
                </div>
                <!-- <div class="form-group">
                    <label for="customer-order-cost">Amount</label>
                    <input class="form-control" type="text" name="custAmount" id="customer-order-cost" value="" readonly>
                </div> -->
                <div class="form-group">
                    <label for="customer-loc">Location</label>
                    <input class="form-control" type="text" name="custLoc" id="customer-loc" required>
                </div>
                <div class="form-group">
                    <label for="customer-rec">Recommended by</label>
                    <input class="form-control" type="text" name="custRec" id="customer-rec" required>
                </div>
                <button type="submit" class="btn btn-outline-dark my-3">
                    Place order <i class="px-2 fas fa-long-arrow-alt-right"></i>
                </button>
                
            </form>
        </section>

<%- include("partials/footer"); %> 